# Copie para .env e ajuste. O arquivo .env não deve ser versionado.
PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=academia


JWT_SECRET=17b2e61a1df15b16c6f58209c8f1fba3951202bc1d255eee40a2e1c3316c0702