# Servidor HTTP
PORT=3000

# MySQL local
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=academia

# Chave local usada para assinar os tokens de sessão (JWT)
JWT_SECRET=17b2e61a1df15b16c6f58209c8f1fba3951202bc1d255eee40a2e1c3316c0702